
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


.topology-confing-layout{
  height: 100%;
  .headers {
  display: flex;
  font-size: 14px;
  height: 40px;
  .el-menu {
    display: flex;
  }
  .full {
    flex: 1;
  }
}
.el-menu-item,
.el-submenu__title {
  color: #333 !important;
  padding: 0 10px;
  height: 40px !important;
  padding:0 20px;
  line-height: 40px !important;

  a {
    text-decoration: none;
    color: #314659;
  }

  .iconfont {
    color: #314659;
    font-size: 24px;
  }
}
.el-menu-popup{
  .iconfont{
  font-size: 30px;
  }
}
}