@font-face {
  font-family: 'iconfont';  /* project id 1776547 */
  src: url('//at.alicdn.com/t/font_1776547_o19v0sgx35.eot');
  src: url('//at.alicdn.com/t/font_1776547_o19v0sgx35.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1776547_o19v0sgx35.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1776547_o19v0sgx35.woff') format('woff'),
  url('//at.alicdn.com/t/font_1776547_o19v0sgx35.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1776547_o19v0sgx35.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-peidian_diankangqi:before {
  content: "\ecf8";
}

.icon-peidian_dianlidianrongqi:before {
  content: "\ecf9";
}

.icon-peidian_dianyahuganqi:before {
  content: "\ecfa";
}

.icon-peidian_bianyaqi:before {
  content: "\ecfb";
}

.icon-peidian_daidianxianshijiedi:before {
  content: "\ecfc";
}

.icon-peidian_bileiqi:before {
  content: "\ecfd";
}

.icon-peidian_daidianxianshiqi:before {
  content: "\ecfe";
}

.icon-peidian_dianrong:before {
  content: "\ecff";
}

.icon-peidian_jiedi:before {
  content: "\ed00";
}

.icon-peidian_rongduanqi:before {
  content: "\ed01";
}

.icon-peidian_jingzhaguan:before {
  content: "\ed02";
}

.icon-peidian_dianliuhuganqi:before {
  content: "\ed03";
}

.icon-peidian_jiedidaokaiguan:before {
  content: "\ed04";
}

.icon-peidian_gelikaiguan:before {
  content: "\ed05";
}

.icon-peidian_zhenkongduanluqihezhafuben:before {
  content: "\ed06";
}

.icon-peidian_shuangdianyuanqiehuanzhuangzhizujian:before {
  content: "\ed07";
}

.icon-peidian_shuangdianyuanqiehuanzhuangzhi:before {
  content: "\ed08";
}

.icon-peidian_dianyahuganqi2:before {
  content: "\ed09";
}

.icon-peidian_zhenkongduanluqikaizha:before {
  content: "\ed0a";
}

.icon-peidian_zhenkongduanluqihezha:before {
  content: "\ed0b";
}

.icon-shuangjiantance:before {
  content: "\ece7";
}

.icon-kongtiaojizu:before {
  content: "\ecda";
}

.icon-shoudongbaojinganniu:before {
  content: "\ecdb";
}

.icon-qiangji:before {
  content: "\ecdc";
}

.icon-xinfengjizu:before {
  content: "\ecdf";
}

.icon-bianpeidian-dianbiao:before {
  content: "\ece1";
}

.icon-huojing:before {
  content: "\ece2";
}

.icon-wenqi:before {
  content: "\ece3";
}

.icon-geishuixitong:before {
  content: "\ece4";
}

.icon-huanjingchuanganqi:before {
  content: "\ece5";
}

.icon-jishuijing2:before {
  content: "\ece6";
}

.icon-dianti:before {
  content: "\ece8";
}

.icon-jishuijing:before {
  content: "\ece9";
}

.icon-zhinengzhaoming:before {
  content: "\ecea";
}

.icon-menjin:before {
  content: "\eceb";
}

.icon-shexiangji:before {
  content: "\ecec";
}

.icon-yangan:before {
  content: "\eced";
}

.icon-VAVduolianjizu:before {
  content: "\ecee";
}

.icon-FCUfengjipanguan:before {
  content: "\ecef";
}

.icon-paifengji:before {
  content: "\ecf0";
}

.icon-shuibiao:before {
  content: "\ecf1";
}

.icon-UPSbujianduandianyuan:before {
  content: "\ecf2";
}

.icon-VRFduolianjizu:before {
  content: "\ecf3";
}

.icon-songfengji:before {
  content: "\ecf4";
}

.icon-quanrejiaohuanji:before {
  content: "\ecf5";
}

.icon-diaodingshikongtiaojizu:before {
  content: "\ecf6";
}

.icon-gonggongguangbo:before {
  content: "\ecf7";
}

